<!-- <nav  class="navbar navbar-expand-lg bg-body-tertiary" >
    <h1>E-comm</h1>
    <div class="nav-search">
        <input type="text" placeholder="Search for Products">
        <button class="btn btn-primary">Search</button>
    </div>
    <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="seller">Seller</a></li>
        <li><a routerLink="login">Login</a></li>
        <li><a routerLink="cart">Cart</a></li>
    </ul>
    
</nav> -->


<!-- undo here for previous header -->


<nav class="navbar navbar-light text-white mt-1 mb-0 pb-0 pt-1 border border-info " style="background-color: #e3f2fd; display: default; font: none;">
    <div class="container">
      <a class="navbar-brand"><h1><a routerLink="home" style="text-decoration: none;color: black;">E-Comm</a></h1></a>
      <form class="d-flex" role="search"  style="width: 24rem;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success"  type="submit">Search</button>
      </form>
      <ul class="nav nav-pills justify-content-end pb-3" style="padding-top: 1rem;">


<!-- undo upto here for previous header -->

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" routerLink="login" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/seller">Seller</a>
            <a class="dropdown-item" routerLink="/login">User</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li> -->
          <!-- <li class="nav-item px-0 mx-0">
            <a class="nav-link" routerLink="/seller">Become a Seller</a>
          </li> -->

<!-- undo here for previous header -->

          <li class="nav-item px-0 mx-0">
            <a class="nav-link" routerLink="login"><h4>Login</h4></a>
          </li>
          <li class="nav-item px-0 mx-0">
            <a class="nav-link" routerLink="aboutus"><h4>About Us</h4></a>
          </li>
          <li class="nav-item px-0 mx-0">
            <a class="nav-link" routerLink="home"><h4>Home</h4></a>
          </li>
      </ul>
    </div>
</nav>

<!-- Header like flipkart -->

<!-- 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Sell with Us - E-Commerce Store</title>
</head>

<header>
  <div class="bg-primary py-2">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-2">
                  <a href="#" class="navbar-brand text-white">Ecomm</a>
              </div>
              <div class="col-md-5">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for products, brands, and more">
                      <div class="input-group-append">
                          <button class="btn btn-warning" type="button">Search</button>
                      </div>
                  </div>
              </div>
              <div class="col-md-5 text-right">
                  <a href="#" class="text-white mr-4">Login</a>
                  <a href="#" class="text-white">Sign Up</a>
                  <a href="#" class="btn btn-warning ml-3">Cart</a>
              </div>
          </div>
      </div>
  </div>
</header> -->