<div class="container">
  <div class="card border border-info" style="width: 50%;">
    <h2>Registration Form</h2>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <label for="username">username</label>
      <input type="text" id="username" formControlName="username" placeholder="Enter your username"/>

      <label for="password">password</label>
      <input type="password" id="password" formControlName="password" placeholder="Enter your password" />

      <label for="firstName">firstName</label>
      <input type="firstName" id="firstName" formControlName="firstName" placeholder="Enter your firstName" />

      <label for="lastName">lastName</label>
      <input type="text" id="lastName" formControlName="lastName" placeholder="Enter your lastName"/>

      <label for="mobileNumber">mobileNumber</label>
      <input type="number" id="mobileNumber" formControlName="mobileNumber" placeholder="Enter your mobileNumber"/>

      <label for="email">email</label>
      <input type="email" id="email" formControlName="email" placeholder="Enter your email"/>
      <button type="submit" >Register</button>
    </form>
    <div class="switch">
      Already have an account?
      <a routerLink="/seller" >Login here</a>
    </div>
  </div>
</div>


d?: string;
    username?: string;
    password?: string;
    firstName?: string;
    lastName?: string;
    mobileNumber?: string;
    email?: string;
    token?: string;